/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 100vh;

  background: linear-gradient(250deg, rgb(152, 64, 152), rgb(115, 52, 210));
  border: 2px solid black;
}

.container {
  /* border: 4px solid rgb(255, 255, 255); */
  width: 90%;
  max-width: 450px;
}

/* Password Generator - Heading */
h1 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  text-align: center;
  background-color: rgb(14, 41, 84);
  margin: 0.1rem 0 1.5rem 0;

  box-shadow: 0px 0px 2px 0.2px rgb(11, 15, 23);
}

/* Password Display Container */
.display-container {
  position: relative;
  border-radius: 0.8rem;
  margin: 1rem 0;
  padding-top: 0.4rem;

  background-color: rgb(39, 39, 39);
  border-bottom: 3px solid rgb(35, 152, 255);
}

/* Password Display Area */
.display {
  padding: 0.8rem 0.6rem;
  background-color: transparent;
  line-height: 20px;
  letter-spacing: 1px;
  padding-right: 3rem;
  border: none;
  color: rgb(146, 179, 0);
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1.3rem;
}

.display::placeholder {
  position: absolute;
  top: 45%;
  left: 1.5rem;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: 600;
  line-height: 20px;
  color: rgb(146, 179, 0);
  opacity: 0.65;
  text-transform: uppercase;
}

/* Copy Button */
.display-container button {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  /* mix-blend-mode: color-burn; */
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* Copy Tooltip */
.tooltip {
  background-color: rgb(110, 29, 185);
  color: rgb(215, 215, 215);
  padding: 0.15rem 0.4rem;
  border-radius: 0.8rem;

  opacity: 0;
  transform: scale(0);
  transform-origin: bottom;
  transition: all 200ms ease-in-out;
  position: absolute;
  top: -20px;
  left: -13px;
}
.tooltip.active {
  opacity: 1;
  transform: scale(1);
}

/* Input Container (Contains Password Length, Slider, Check Boxes and Generate Button*/
.input-container {
  /* border: 2px solid red; */
  padding: 1.8rem 1.5rem;
  border-radius: 0.8rem;
  background-color: rgb(39, 39, 39);
  color: rgb(224, 224, 224);
}

/* Password Length Container */
.length-container {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.length-container p:nth-child(1) {
  font-size: 1rem;
  color: rgb(225, 225, 225);
}

.length-container p:nth-child(2) {
  color: rgb(146, 179, 0);
  font-size: 1rem;
}

/* Slider */
.slider {
  appearance: none;
  width: 100%;
  height: 0.75rem;
  margin: 1.25rem 0 1.8rem 0;
  background-image: linear-gradient(rgb(158, 71, 240), rgb(106, 20, 186));
  background-repeat: no-repeat;
  background-color: rgb(62, 62, 62);
  border-radius: 0.8rem;
  cursor: pointer;
  border: none;
}

/* Slider Thumb (Using Pseudo element Selector) */
/* Chrome Browser : -webkit */
.slider::-webkit-slider-thumb {
  position: relative;
  appearance: none;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background-color: rgb(3, 255, 83);
  box-shadow: 0px 0px 15px 0px rgba(255, 224, 25, 0.5);
  transition: all 100ms ease-in;
}

.slider::-webkit-slider-thumb:hover {
  outline: 1px solid rgba(255, 224, 25, 0.5);
  background-color: black;
  box-shadow: 0px 0px 20px 3px rgba(255, 224, 25, 0.5);
}

.slider:focus {
  outline: 2px solid rgb(3, 255, 83);
}

/* FireFox Browser : -moz */
/* .slider::-moz-range-thumb {
  position: relative;
  appearance: none;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background-color: rgb(3, 255, 83);
  box-shadow: 0px 0px 15px 0px rgba(255, 224, 25, 0.5);
  transition: all 100ms ease-in;
}
.slider::-moz-range-thumb:hover {
  outline: 1px solid rgba(255, 224, 25, 0.5);
  background-color: black;
  box-shadow: 0px 0px 20px 3px rgba(255, 224, 25, 0.5);
} */

/* Check Boxes */
.check {
  padding: 0.3rem 0.6rem;
  margin: 0.15rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.check label {
  font-size: 1rem;
}

.check input {
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  appearance: none;
  border-radius: 0.25rem;
  background-color: rgba(99, 99, 99, 0.6);
}

.check input:checked {
  background-color: aqua;
}

.check input:checked::before {
  content: "✓";
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 1rem;

  position: absolute;
  top: 35%;
  left: 67%;
  transform: translateX(-50%) translateY(-50%);
}

/* Strength Container */
.strength-container {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.1rem 0.2rem;
  margin: 1rem 0.2rem;
  letter-spacing: 1.1px;
}

.indicator {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}

/* Generate Button */
.generateButton {
  width: 100%;
  background-color: rgb(158, 71, 240);
  font-size: 1rem;
  color: rgb(230, 230, 230);
  font-weight: 600;

  padding: 0.6rem 0;
  letter-spacing: 1px;
  border: none;
  border-radius: 0.8rem;
  border-bottom: 3px solid rgb(35, 152, 255);
  cursor: pointer;
}
.generateButton:hover {
  background-color: rgb(125, 27, 216);
}
